@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rounded-top-lg {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

@mixin drop-shadow {
  box-shadow: $shadow-lg;
}

@mixin texture($pattern-name, $opacity: 1) {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://www.transparenttextures.com/patterns/#{$pattern-name}.png');
    background-repeat: repeat;
    pointer-events: none;
    z-index: 1;
    border-radius: inherit;
    opacity: $opacity;
  }
}

@mixin drop-in-animation($duration: 0.5s, $delay: 0s) {
  transform: translateY(-80px);
  transition: transform $duration cubic-bezier(.65,1.75,.65,.79) $delay;
  
  &.loaded {
    transform: translateY(0);
  }
}

