@use 'theme' as *;

@mixin custom-scrollbar($width: 8px, $thumb-color: $accent, $track-color: transparent) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  &::-webkit-scrollbar-button:single-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  &::-webkit-scrollbar-corner {
    display: none !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($thumb-color, 10%);
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rounded-top-lg {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

@mixin drop-shadow {
  box-shadow: $shadow-lg;
}

@mixin texture($pattern-name, $opacity: 1) {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://www.transparenttextures.com/patterns/#{$pattern-name}.png');
    background-repeat: repeat;
    pointer-events: none;
    z-index: 1;
    border-radius: inherit;
    opacity: $opacity;
  }
}

@mixin drop-in-animation($duration: 0.5s, $delay: 0s) {
  transform: translateY(-80px);
  transition: transform $duration cubic-bezier(.65,1.75,.65,.79) $delay;
  
  &.loaded {
    transform: translateY(0);
  }
}

