@use '../theme' as *;
@use '../mixins' as *;
@use 'accent';

@keyframes rock {
  0% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  animation: rock 2.2s ease-in-out infinite;

  .avatar-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

